<!doctype html>
<html lang="en" manifest="offline.manifest">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shuffle letters</title>
    <script src="lib/2/vue.min.js"></script>
    <style>
      .locked { color: red;}
      .letter-input {
        font-size: 20pt;
        text-align: center;
        text-transform: uppercase;
        width: 25px;
        border-radius: 10px;
        padding: 4px 4px;
      }
    </style>
</head>
<body>
<div id="app-shuffle">
  <template v-for="(letterObject, index) in letterObjects">
    <input class="letter-input" type="text"
      size="1" minlength="1" maxlength="1"
      v-model="letterObject.value"
      @input="moveToInput(index, $event)" onClick="this.select()"
      :id="'letter-input-' + index">
  </template>
  <input class="letter-input" type="text"
         size="1" minlength="1" maxlength="1"
         @input="appendLetter" @keydown="checkBackspace"
         :id="'letter-input-' + letterObjects.length">
  <button @click="doShuffle">Shuffle</button>
  <div>
    <template v-for="(letterObject, index) in letterObjects">
      <span :style="{
          position: 'absolute',
          left: 20 + (10 * letters.length) + 'px',
          height: 20 + (10 * letters.length) + 'px',
          width: '20px',
          font: '26px Monaco, MonoSpace',
          transformOrigin: 'bottom center',
          transform: 'rotate(' + 360 * index / letterObjects.length + 'deg)'
          }">
        <span
          @click="toggleLock(index)"
          :class="{ locked : letterObject.locked }"
          :style="{
            textTransform: 'uppercase',
            position: 'absolute',
            transform: 'rotate(' + (-360 * index / letterObjects.length) + 'deg)'
            }">{{letterObject.value}}</span>
      </span>
    </template>
  </div>
</div>
<script src="./app.js" type="module"></script>
</body>
</html>
